
@font-face {
  font-family: 'UNAL';
  src: url('font.otf');
}

body,div,p,h1,h2,h3,h4,h5,h6,button,a,a.button,b,ul,li {
  font-family: 'UNAL', Fallback, sans-serif;
}

html {
  font-family: 'UNAL', Fallback, sans-serif;
}